    html, body {
      font-size: 12px;
      font-family: Arial Unicode MS, Helvetica, sans-serif;
      background-color: black;
      height: 100%;
      width: 100%;
      overflow: hidden;
      margin: 0px;
    }

    button:focus { outline:0 !important; }

    .fullPage {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-flow: column;
    }
    
    menu, ol, ul {
      list-style-type: none;
      -webkit-padding-start: 0px;
    }

    a {
      visibility: hidden;
    }
    
    li:hover {
      background-color: #ffffff; 
      color: #333;
    }
    
    li:hover button {
      visibility: visible;
    }
    
    .remove-button {
      visibility: hidden;
      float: right;
    }
   
    .search {
      border-radius: 2px;
      width: 100%;
    }

    .playerLayer {
      z-index: 1;
      width: 100%;
      display: block;
    }

    #playerContainer {
      position: relative;
      left: 0px;
      top: 0px;
      display: inline-block;
      overflow: hidden;
      margin: 0 auto;
      padding: 0px;
      width: 100%;
    }  

    .fullPage {
      display: flex;
      flex-flow: column;
      height: 100%;
    }
      
    .fullPage .row {
      flex: 0 1 60px;
    }
      
    .fullPage .row.header {
      flex: 0 1 auto;
      min-height: 40px;
    }
      
    .fullPage .row.content {
      overflow-y: auto;
      flex: 1 1 auto;
    }

    .fullPage .row.footer {
      flex: 0 1 60px;
      min-height: 40px;
    }
    
    .centeredPlayerContainer {
      width: 50%;
      margin: 0px auto;
      display: flex;
    }

    #search-input {
      vertical-align: top;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      flex-grow: 1;
      margin: 0px;
    }

    #listContainer {
      background-image: url(black-50-trans.png);
      z-index: 3;
      margin: 0px;
    }

    #resultContainer {
      max-width: 1284px;
      width: 80%;
      margin: 0px auto;
    }

    .videoThumb {
      width: 320px;
      height: 180px;
      display: inline-block;
      position: relative;
      margin: 0.5px;
    }
    
    .videoThumb:hover {
      background-color: black;
      color: white;
      border: 10px;
      border-color: white;
    }

    .playlistContainer {
      /*background-color:#eeeeee; */
      /*background-image: url(black-50-trans.png);*/
      margin: 2px;
      padding: 4px;
      position: relative;
      color: white;
    }
    
    .playlistContainer:hover #playlistShuffle {
      visibility: visible;
    }
    
    #relatedContainer {
      color: white;
    }
    
    #historyContainer {
      display: none;
    }
    
    #playerMinimizeButton {
      display: inline;
      z-index: 2;
    }
    
    #playerButtons {
      /*visibility: hidden;*/
      z-index: 2;
      display: inline;
      float:left;
    }
    
    .videoTitle {
      font-weight: bold;
      height: 15px;
      font-size: 14px;
      font-family: Roboto,Arial,Helvetica,sans-serif;
      color: white;
      padding-top: 4px;
      margin-top: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      max-height: 15px;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .alpha60 {
      /* Fallback for web browsers that doesn't support RGBa */
      background: rgb(0, 0, 0) transparent;
      /* RGBa with 0.6 opacity */
      background: rgba(0, 0, 0, 0.6);
      /* For IE 5.5 - 7*/
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      /* For IE 8*/
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }
        
    #player {
      z-index: 0;
      position: absolute;
      left: 0px;
      top: 40px;
    }
    
    #playerPlaceholder {
      width: 960px;
      background-color: black;
      height: 300px;
    }
    
    #listOverlay {
      background-image: url(black-50-trans.png);
      width: 100%;
      height: 100%;
      margin: 0 auto;
      left: 0px;
      top: 0px;
      display: inline;
      visibility: hidden;
    }

    #videoOverlay {
      position: fixed;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      visibility: hidden;
      left: 0px;
      top: 0px;
      z-index: 0;
      display: inline;
    }

    #fullscreenOverlay {
      width: 30px;
      height: 25px;
      position: fixed;
      bottom: 0;
      right: 0;
    }
    
    #debugButton {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 10;
      display: none;
    }
    
    .noscript {
      width: 100%;
      height: 100%;
      background: white;
      z-index: 10;
      margin: 0 auto;
      position: fixed;
      left: 0px;
      top: 0px;
    }
    
    .noscript-center {
      margin: 0 auto;
      margin-top: 200px;
      width: 600px;
      height: 400px;
      z-index: 10;
      font-size: 22px;
    }
 
    #ytapiplayer {
      color: white;
    }
    
    .loadingPlaceholder {
      visibility: hidden;
    }
    
    #playlistShuffle {
      visibility: hidden;
    }
